<IfModule mod_rewrite.c>   RewriteEngine on   RewriteBase /   RewriteCond %{HTTP_HOST} ^wtbone\.com$ [NC]   RewriteRule    ^$ http://www.wtbone.com/app/webroot/    [L]   RewriteRule    (.*) http://www.wtbone.com/app/webroot/$1 [L]   RewriteRule ^([0-9a-zA-Z]{1,6})$ redirect.php?url=$1 [L]</IfModule>