<IfModule mod_rewrite.c>   RewriteEngine on   RewriteCond %{HTTP_HOST} ^wtbone\.com$ [NC]   RewriteRule ^.*$ http://www.wtbone.com%{REQUEST_URI} [R=301,L] # <-- Mind the 'L'!   RewriteRule    ^$ app/webroot/    [L]   RewriteRule    (.*) app/webroot/$1 [L]   RewriteRule ^([0-9a-zA-Z]{1,6})$ redirect.php?url=$1 [L]</IfModule>