<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
<IfModule mod_rewrite.c>

	RewriteEngine on

	RewriteBase	/silkrouters/app/

	RewriteRule	^$	webroot/	[L]

	RewriteRule	(.*) webroot/$1	[L]

</IfModule>